/**** buildHeaderAndNav ****/
/**** buildBody ****/
/**** buildFooter ****/



@mixin buildHeaderAndNav($size){
	@if $size == sm {	  
		header {
			width: 400px;
			margin: 0 auto;
			position: relative;
			h1 {
				width: 100%;
				
				padding: 0 2rem;
				color: $darkBrown;			/**** content ****/
				letter-spacing: 0.1rem;		/**** content ****/
				i.fa-lg {
					display: block;
					float: left;
					font-size: 7rem;		/**** content ****/
					line-height: 12.7936rem;/**** content ****/
					color: $lightBrown;		/**** content ****/
					
					width: 25%;					
					~ span {
						float: right;
						text-align: right;	/**** content ****/
						
						width: 75%;
						padding-left: 1rem;
						font-size: 3.998rem;/**** content ****/
					}
				}
			} 
			nav {
				padding: 2rem 0;
				clear: both;
				
				width: 100%;
				
				> ul > li {
						width: 100%;
						float: none;
						background-color: $scottWhite;
					> a {
						font-size: 1.414rem;
						line-height: 1;
						padding: 1.0rem 2rem;
						border: 1px solid $lightGrey;
						
						display: block;
						text-align: center;		
						text-decoration: none;
						color: $darkGrey;
						letter-spacing: 0.25rem;
						border-bottom: none;
						&:hover {
							font-weight: 700;	
							color: $lightBlue;	
						}
					}
				}
			}
		}
	} /* end of sm */
	
	@if $size == md {	  

	header {
		/*changed*/
		width: 700px;
		
		/*extras*/
		min-height: 8rem;
		&:before,
		&:after {
			width: 230px;
		}
		h1 {
			color: $darkBrown;
			i.fa-lg {
				/*changed*/
				display: inline;
				float: none;				
				font-size: 4rem;
				line-height: 6.3968rem;
				color: $darkBrown;
				
				/*extras*/
				vertical-align: baseline;
				~ span {
					/*changed*/
					text-align: left;
					float:none;
					
					/*extras*/
					letter-spacing: 0.25rem;
				}
			}
		}
		nav {
			/*changed*/
			padding: 0;
			clear: both;
			
			/*extras*/
			position: static;
			> ul > li {
				/*changed*/
				width: 20%;
				float: left;
				> a {
					/*changed*/
					font-size: 1rem;
					line-height: 2rem;
					padding: 1.0rem;
					border: none;
					
					/*extras*/
					min-height: 6rem;
					border-left: 1px solid $lightGrey;
					&:last-child {
						border-right: 1px solid $lightGrey;
					}
				}
			}
		} 
	}
	}
	@if $size == lg {	
			
	header {
		width: 900px;
		
		margin: 0 auto;
		&:before,
		&:after {
			width: 300px;
		}
		h1 {
			color: $darkBlue;
			i.fa-lg {
				display: inline;
				color: $darkBlue;
				vertical-align: baseline;
				float: none;
				font-size: 4rem;
				line-height: 6.3968rem;
				~ span {
					float: none;
					letter-spacing: 0.25rem;
					font-size: 3.998rem;
					text-align: left;
				}
			}
		}
		nav {
			position: static;
			clear: both;
			width: 100%;
			padding: 0;
			> ul > li {
				width: 20%;
				float: left;
				background-color: $scottWhite;
				> a {
					font-size: 1rem;
					line-height: 2rem;
					min-height: 2rem;
					border: none;
					border-left: 1px solid $lightGrey;
					padding: 0 1.0rem;
					margin: 1.0rem 0;
				}
				&:first-child a {
					border-left: none;
				}
			}
		}
	}
		
	}
	@if $size == xl {	  
		
		header {
			width: 1400px;
			margin: 0 auto;
		/*  position: relative; */
			&:before,
			&:after {
				width: 450px;
			}
			h1 {
				width: 100%;
			/*  padding: 0 2rem; */	
				color: $darkBrown;
			/*  letter-spacing: 0.1rem; */
				i.fa-lg {
				display:inline;
				color: $darkBrown;
				vertical-align:baseline;
				float:none;
				font-size: 4rem;
				line-height: 6.3968rem;
					~ span {
						float:none;
						letter-spacing: 0.25rem;
						font-size: 3.998rem;
						text-align: left;
					}
				}
			}
			nav {
				width: 100%;
				padding: 0;
				position: static;
			/*  clear: both; */
				> ul > li {
					width: 20%;
					float: left;
					background-color: $scottWhite;
					> a {
						font-size: 1.414rem;
						line-height: 2rem;
						min-height: 2rem;
						border: none;
						border-left: 1px solid $lightGrey;
						padding: 0 1.0rem;
						margin: 1.0rem 0;
					}
					&:first-child a {
						border-left: none;
					}
				}
			}
		}
		
	}	
} /* buildHeaderAndNav */





@mixin buildBody($size){
	@if $size == sm {	  

		
		section {
			&.focal {
				width: 400px;
				margin: 0 auto;
			}
			&.content1,
			&.content2 {
				padding: 2rem 0;
			}
		}
		.row {
			clear: both;
		}
		
		h2,h3,h4 {font-size: 1.999rem;}
		
		.focal {
			h2 {
				line-height: 1.2;
				padding: 2rem 2rem 1rem 2rem;
			}
			.author {
				font-size: 1rem;
				padding: 0.2rem 2rem 2rem;
			}
		}
		.content1 {
			
			h3 {
				padding: 0.2rem 2rem 2rem;
				i {
					vertical-align: middle;
					padding-right: 2rem;
				}
			}
			p {
				font-size: 1.414rem;
				padding: 0.5rem 2rem 2rem;
			}
		}
		.content2 {
			
			h4 {
				padding: 1rem 2rem 0;
			}
			p {
				font-size: 1.414rem;
				padding: 0.5rem 2rem 1rem;
			}
			li {
				font-size: 1.414rem;
				padding: 0.5rem 2rem;
			}
		}
	}
	
	
	@if $size == md {	  

		section {
			&.focal,
			&.content1,
			&.content2 {
				width: 700px;
				margin: 0 auto;
				h4,
				li {
					font-size: 1.414rem;
				}
			}
		}
		.col-4 {
			@include equalSpaced(2, 0%, 100%) ;
		}
	
	}
	
	
	@if $size == lg {	  

		section {
			width: 900px;
			margin: 0 auto;

			&.focal {
				h2,
				p.author {
					width: 600px;
				}
			}
			&.content1 {
				h3 {
					font-size: 1.999rem;
					font-weight: 100;
					.fa-2x {
						padding-right: 1rem;
					}
				}
			}
			&.content2 {
				h4,
				li {
					font-size: 1.414rem;
				}
				p {
					font-size: 1rem;
					font-weight: 400;
				}
			}
		}
		.col-3 {
			@include equalSpaced(3, 5%, 100%) ;
		}
		.col-4 {
			@include equalSpaced(4, 4%, 100%) ;
		}	
	}
	
	
	@if $size == xl {	  

		section {
			width: 1400px;
			margin: 0 auto;
			&.focal {
				h2 {
					width: 600px;
					font-size: 3.998rem;
				}
			}
			&.content1 {
				h3 {
					font-size: 2.827rem;
					font-weight: 100;
					.fa-2x {
						padding-right: 1rem;
						vertical-align: middle;
					}
				}
			}
			&.content2 {
				h4,
				li {
					font-size: 1.999rem;
				}
				p {
					font-size: 1.414rem;
					font-weight: 400;
				}
			}
		}

		.col-3 {
			@include equalSpaced(3, 5%, 100%) ;
		}
		.col-4 {
			@include equalSpaced(4, 4%, 100%) ;
		}	
	}
	
}


@mixin buildFooter($size){
	
	@if $size == sm {	  

		footer {
			
			margin: 0 auto;
			padding: 2rem 0;
			
			h4 {
				font-size: 1.414rem;
				padding: 0.5rem 2rem;
				color: $darkBrown;
				
			}
			h4[lang=ru],
			h4[lang=de],
			h4[lang=ar],
			h4[lang=en] {
				display: none;
			}

			@include footerBasics(sm, $darkGrey){
			h4[lang=de] {
				display: block;
				}
			}

			
			p {
				font-size: 1rem;
				padding: 0.5rem 2rem;
				color: $darkGrey;
			}
			
			.col-2 {
				@include equalSpaced( 2, 0%, 100%);		
				
				padding-bottom: 2rem;
				border-left: 1px solid $darkBlue;
				margin-bottom: 2rem;
			}


		}
	}

	@if $size == md {	  

	
		footer {
			@include footerBasics(700px, $medBlue){
				h4[lang=ar] {
					display: block;
				}
			}
			
			.col-2:last-child {
				unicode-bidi: bidi-override;
				direction: rtl;
			}

		}	
	}
	
	@if $size == lg {	  

		footer {			
			
			@include footerBasics(900px, $lightBrown){
				h4[lang=ru] {
					display: block;
				}
			
			}
		}
	}
	@if $size == xl {	  

		footer {
			
			@include footerBasics(1400px, $medBlue){
				h4[lang=en] {
					display: block;
				}
			}
			
			p {
				font-size: 1.414rem;
				letter-spacing: 0.2rem;
				&:last-child {
					color: $lightGrey;
				}
			}
						
		}
	}
}
