$lightBlue:  #C7F7FF;
$medBlue:    #89C0C9;
$darkBlue:   #3a5E63;
$lightBrown: #C9A689;
$darkBrown:  #7C593C;
$lightGrey:  #d4d4d4;
$darkGrey:   #222;
$scottWhite: #fff;

$fontsize1414: 1.414rem;

$fontsFamilySansSerifs: ('Josefin Sans', 'Trebuchet MS', 'Helvetica', 'sans-serif');
$fontsFamilySerifs: ('Cardo', 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif');


